@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --bg-soft-violet: hsl(273, 75%, 66%);
  --bg-soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);

  font-size: 12px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    to bottom,
    var(--bg-soft-violet),
    var(--bg-soft-blue)
  );
  background-repeat: no-repeat;
  height: 100vh;
  padding: 7em 1em;
}

.main {
  background-color: #fff;
  border-radius: 30px;
  height: 30vh;
  padding: 9em 1em;
  margin-top: 20%;
}

.main-accordion {
  color: var(--dark-grayish-blue);
}

.main-image img {
  repeat: no-repeat;
}

.main-image {
  position: absolute;
  /* margin-top: -200px; */
  margin: -100px auto;
}

.main-headline {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.main-question {
  display: flex;
  justify-content: space-between;
}

.main-question svg {
  align-self: center;
}

.main-question img {
  width: 15px;
  cursor: pointer;
}

.main-answer {
  display: none;
  color: var(--dark-grayish-blue);
  line-height: 1.4em;
  width: 90%;
}

.active {
  display: block;
}

.underline {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.highlight {
  font-weight: 700;
  font-size: 1.1rem;
}

.attribution {
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
