@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --bg-soft-violet: hsl(273, 75%, 66%);
  --bg-soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);

  font-size: 12px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    to bottom,
    var(--bg-soft-violet),
    var(--bg-soft-blue)
  );
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100vh;
  padding: 7em 1em;
}

.main {
  background-color: #fff;
  border-radius: 30px;
  padding: 9em 1em 5em;
  top: 10%;
  height: 50vh;
}

.main-accordion {
  color: var(--dark-grayish-blue);
  font-size: 1.2rem;
}
.desktop img {
  display: none;
}
.mobile img {
  display: block;
  margin: -18em auto 5em;
}

.test {
  margin: -12em auto 4em !important;
}

.main-headline {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.main-question {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
}

.main-question svg {
  align-self: center;
}

.turn-svg {
  transform: rotate(180deg);
}

.main-question img {
  width: 15px;
  cursor: pointer;
}

.main-answer {
  display: none;
  color: var(--dark-grayish-blue);
  line-height: 1.4em;
  width: 90%;
  margin-top: -20px;
  padding: 0 1em 0 1em;
}
.active {
  display: block;
}

.underline {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.highlight {
  font-weight: 700;
  font-size: 1.3rem;
}

@media (min-width: 1440px) {
  .main {
      padding-right: 13em;
  }

  .main-accordion {
    width: 40%;
  }

  .main-answer, .main-question { 
  padding: 0;
    } 

  section {
    display: flex;
    /*  */
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 400% 65%;
  }
  .mobile img {
    /* visibility: hidden; */
    display: none;
  }

  

  .desktop img {
    position: absolute;
    display: block;

  }

  .main-image_woman {
    /* */
        position: absolute;
        top: 190px;
        left: -80px;
        /*  */
        clip-path: inset(0 0 0 80px);
  }

  .main-image_box {
    /*  */
    position: absolute;
    top: 280px;
    left: -80px;
  }


  .main-accordion h1 {
    text-align: left;
  }

.attribution {
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

summary {
  color: white;
}
